/*
This is a Cascading Style Sheet (CSS).
It describes rules for styling your HTML markup.

To use this file, place the following <link> tag anywhere in the <head> of your HTML file, making sure that the filename after "href" matches the name of your file....

    <head>
        <link rel="stylesheet" href="style.css">
    </head>

Learn more about CSS at https://developer.mozilla.org/en-US/docs/Web/Guide/CSS

When you're done, you can delete all of this grey text, it's just a comment.
*/

/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat|Roboto|Roboto+Condensed');
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  body {
  font-family: 'Montserrat';
  color: grey;
  background-color: white;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4vw;
  color: #e6ffff;
  }

.beatch {
  width: 38vw
}

  .accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 4px;
    height: 70vw;
    background-image: url('img/FILLES.png');
    background-size:100% auto;
    background-position: top;
    background-attachment:fixed;
    background-repeat: no-repeat;
  }

  .titre {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    color:  #AED6D3;
  }

  .texte {
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    width: 40vw;
    font-size: 1.5vw;
  }

.container {
  display: flex;
  justify-content: space-between;
  width 900px;
}

.container2 {
  display: flex;
  justify-content: flex-end;
  width: 60%
}


.a_propos {
  width: 7vw;
  height: auto;
}

/* flex-direction: row; tjrs utile*/


/* Dropdown Button */
.dropbtn {
    background-color: #AED6D3;
    color: grey;
    padding: 12px; 12px;
    font-size: 14px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: grey;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #A6C7AC;}

ul ul {display: none; position: absolute; left: 140px; top: 0px; margin: 0px; padding: 0px;}
li {list-style-type: none; position: relative; width: 140px; background-color: #E0E0E0}
li:hover ul.niveau2, li li:hover ul.niveau3 {display: block}
}


/* ecran + petits */
@media only screen and (max-width: 600px) {
  body {
  font-family: 'Montserrat';
  color: grey;
  background-color: white;
}


h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5vw;
  color: #e6ffff;
  }

  .accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    height: 120vw;
    background-image: url('img/FILLES.png');
    background-size:100% auto;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .titre {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    color:  #AED6D3;
  }

  .texte {
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    width: 100%;
    font-size: 3vw;
  }

.beatch {
  width:100%;
}

  .dropbtn {
      background-color: #AED6D3;
      color: grey;
      padding: 12px;
      font-size: 20px;
      border: none;
      width: 45vw;
      margin: auto;
  }

  .container {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    width:100%; }

.container2 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}


.a_propos {
  width: auto;
  height:  6vw;
}


/* flex-direction: row; tjrs utile*/


/* Dropdown Button */
.dropbtn {
    background-color: #AED6D3;
    color: grey;
    padding: 8px;
    font-size: 12px;
    border: none;
    width: 20vw;
    margin: auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
      position: relative;
      display: inline-block;
      margin: auto;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: grey;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #A6C7AC;}

ul ul {display: none; position: absolute; left: 140px; top: 0px; margin: 0px; padding: 0px;}
li {list-style-type: none; position: relative; width: 140px; background-color: #E0E0E0}
li:hover ul.niveau2, li li:hover ul.niveau3 {display: block}
}
